<div class="sidebar-panel">
  <h3>{{ i18n "tagsTitle" }}</h3>

  {{ $pageLink := .Page.Permalink }}

  <ul class="tag-list">
    {{ range $name, $items := .Site.Taxonomies.tags }}
      {{ $active := gt (where $items ".Permalink" $pageLink | len) 0 }}
      <li>
        <a href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower }}" {{ if $active }}class="active"{{ end }}>
          <i class="fa fa-tags"></i> {{ $name }}
        </a>
      </li>
    {{ end }}
  </ul>
</div>
