<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <div class="padding-container main-content">
      <h3>Diese Seite existiert nicht</h3>
      <h4>Error 404 - Page not found</h4>

      <a href="{{ .Site.BaseURL }}" class="link-button"><i class="fa fa-home"></i> Go to Homepage</a>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
