{{ $searchPath := print "bildstrecke/" (.Get 0) "/" }}<br>
{{ $subdirItems := where .Site.Pages "File.Dir" "in" $searchPath }}
{{ $subdirItems := where $subdirItems "File.Dir" "ne" "" }}
{{ $infoItems := where $subdirItems "Kind" "ne" "page" }}
{{ $subdirItems := where $subdirItems "Kind" "eq" "page" }}
{{ $infoItems := first 1 $infoItems }}
{{ $subdirItems := first 1 $subdirItems }}

{{ range $subdirItems }}
  {{ $subdirItem := . }}
  {{ range $infoItems }}
    {{ $infoItem := . }}

    <a href="{{ $subdirItem.Permalink }}" target="_blank" class="imagegallery-teaser">
      <b>Bildstrecke: {{ $infoItem.Title }}</b>
      <img src="{{ $subdirItem.Params.image }}">
    </a>
  {{ end }}
{{ end }}
