<ul>
  {{ range sort (where site.Pages "Params.series" ($.Page.Params.series)) "Date" "asc" }}
    {{ if eq $.Page.Permalink .Permalink }}
      <li><b><a href="{{ .Permalink }}">{{ .Title }} </a></b></li>
    {{ else }}
      <li><a href="{{ .Permalink }}">{{ .Title }} </a></li>
    {{ end }}
  {{ end }}
</ul>
