<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    {{ partial "breadcrumbs.html" . }}

    <div class="padding-container main-content wiki-page">
      <div class="sidebar-container">
        <div class="content">
          <div id="post-content">
            {{ .Content }}
          </div>
        </div>

        <div class="sidebar">
          {{/* different for the wiki - content navigation */}}
          {{ $navScratch := newScratch }}
          {{ $navScratch.Set "currentPage" .Page }}
          {{ $navScratch.Set "treePage" (.Site.GetPage "/wiki") }}
          {{ template "wikipage-tree-nav" $navScratch }}
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
{{ define "wikipage-tree-nav" }}
  {{ $currentPage := .Get "currentPage" }}
  {{ $treePage := .Get "treePage" }}

  {{ $childs := union $treePage.Pages $treePage.Sections }}
  {{ $hasChilds := gt (len $childs) 0 }}

  {{ if $hasChilds }}
    <ul>
      {{ range sort $childs "Title" "asc" }}
        <li>
          {{ $thisOrChildActive := ne (strings.TrimPrefix .Permalink $currentPage.Permalink) $currentPage.Permalink }}
          {{ $hasChilds := gt (union .Pages .Sections) 0 }}
          <a href="{{ .Permalink}}" {{ if eq $currentPage.Permalink .Permalink }}class="active"{{ end }}>
            {{ .Title }}
            {{ if and $hasChilds (not $thisOrChildActive) }}...{{ end }}
          </a>

          {{ if $thisOrChildActive }}
            {{ $navScratch := newScratch }}
            {{ $navScratch.Set "currentPage" $currentPage }}
            {{ $navScratch.Set "treePage" . }}
            {{ template "wikipage-tree-nav" $navScratch }}
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
